<nav class="menu">
  <div class="account d-md-flex  d-none align-items-center flex-direction-column textcenter">
    <img src="/assets/images/avatar.jpg" title="photo"/>
    <h1>Nicolas Blaudez</h1>
    <a [routerLink]="['/login' | localize]" *ngIf="loginService.getUsername() == false" href="#">se connecter</a>
    <div *ngIf="loginService.getUsername() == true" class="d-flex flex-direction-column">
      <a [routerLink]="['/dashboard' | localize]">{{ 'header.menu.dashboard' | translate}}</a>
      <a [routerLink]="['/users/profil' | localize]">Profile</a>
      <a [routerLink]="['/account' | localize]">Paramètres</a>
      <a [routerLink]="['/login' | localize]">Se déconnecter</a>
    </div>
  </div>
  <hr />

  <a [routerLink]="['/login' | localize]" *ngIf="loginService.getUsername() == false"><button class="button">identification</button></a>
  <a [routerLink]="['/signup' | localize]" *ngIf="loginService.getUsername() == false"><button class="button">inscription</button></a>

  <p-accordion class="flex-direction-column d-flex">
    <p-accordionTab class="flex-direction-column d-flex" header="Formation">
      <a [routerLink]="['/trainings' | localize]">Me former</a>
      <a [routerLink]="['/trainings/business' | localize]">Faire du business</a>
    </p-accordionTab>
  </p-accordion>
  <br />
  <a  [routerLink]="['/contact' | localize]">Contact</a>
</nav>

